---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en" class="dark_classic">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<div
			class="fixed w-screen h-90vh overflow-y-scroll scrollbar scrollbar-rounded scrollbar-thumb-color-current scrollbar-track-color-transparent"
		>
			<main class="block max-w-4xl mx-auto px-3">
				<article>
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
					<h1 class="title">{title}</h1>
					{pubDate && <time>{pubDate}</time>}
					{
						updatedDate && (
							<div>
								Last updated on <time>{updatedDate}</time>
							</div>
						)
					}
					<!-- <hr class="text-current" /> -->
					<slot />
				</article>
			</main>
		</div>
	</body>
</html>
